@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Josefin+Slab:wght@500&family=Montserrat:wght@300&display=swap");

* {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reset_main {
    margin-left: 170px;
    display: flex;
    justify-content: center;
}

.reset_child {

    margin-right: 150px;
}

.image {
    padding-top: 150px;
    padding-right: 60px;
}

.logo {
    color: rgb(237, 234, 234);
    margin-top: 30px;

}


.reset_detail .chead {
    margin-top: 70px;
	margin-left: 0px;
}

.chead h1{
    font-size: 35px;
}

.reset_p {
    margin-top: 20px;
}

.reset_form {
    margin-top: 20px;
}

.reset_textbox {
    border: 2px solid rgb(207, 195, 195);
    border-radius: 4px;
    height: 30px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.reset_label {
    font-weight: 600;
    font-size: 16px;
}

.form_p {
    color: rgb(145, 139, 139);
    font-size: 15px;
    margin-bottom: 3px;
}

.reset_end {
    text-align: center;
    font-size: 13px;
    text-decoration: none;
    color: black;
	
}

.reset_end a {
    color: black;
}

.reset_end hr {
    border: 1px solid rgb(247, 241, 241);
    margin-bottom: 7px;
	margin-bottom: 14px;
}

