@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Josefin+Slab:wght@500&family=Montserrat:wght@300&display=swap");


*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Josefin Sans', sans-serif;
  
  
	}

	.log_header{
		margin-left: 300px;
		margin-top: 20px;
		margin-right: 300px;
		flex-direction: column;
		display: flex;
		
	}
	

	.todo{
		color: red;
		margin-top: -10px;
		margin-left: -5px;
	}

	.mhead{
		color: red;
		display: flex;
		flex-direction: column;
		float: right;
		margin-top: -57px;
		
	}

.chead{
	margin-left: 300px;
	margin-top: 80px;
}

.log_icon{
	margin-left: 300px;
	margin-top: 30px;
	text-align: center;
}

.log_google{
	border: 1px solid rgb(216, 216, 216);
	height: 50px;
	width: 380px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	/* margin-top: 10px; */
}
.log_google img{

	margin-left: 10px;
	/* margin-top: 10px; */
	/* margin-top: auto; */
	
}

.log_google .go{
	font-size: 18px;
	text-align: center;
}

.log_google:hover{
	background-color: #e5e5e5;
	cursor: pointer;
}

/* .facebook{
	border: 1px solid rgb(216, 216, 216);
	height: 50px;
	width: 450px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.facebook img{
	margin-top: 14px;

} */
.face{
	font-size: 18px;
	text-align: center;
	
}


.app{
	font-size: 18px;
	text-align: center;
	
}

.log_line{
	border: 1px solid rgb(216, 216, 216);
	width: 380px;
	
	
}

.inp_data{
	margin-left: 300px;
}

.btn{
	margin-left: 300px;
	/* margin-top: 10px; */
	margin-top: 15px;
}

.pra1{
	margin-left: 300px;
	font-size: 12px;
	max-width: 380px;
}

.line2{
	border: 1px solid rgb(216, 216, 216);
	width: 380px;
	margin-top: -6px;	
}

.form{
	max-width: 1000px;
}

.footer1 p{
	text-align: center;
	margin-top: 20px;
	margin-left: -14px;
	color: grey;
    margin-bottom: 30px;
}

.footer1 a{
	color: gray;
}

.pra1 a{
	color: black;
}

.video{
	height: 15px;
	width: 15px;
	margin-top: 90px;
}

.main{
	height: 100vh;
	width: 100vw;
	display: flex;
}

.forget1{
	margin-left: 300px;
	margin-bottom: 20px;
	
}

.forget1 a{
	color: gray;
}

.div_21{
	float: right;
	display: flex;
	margin-top: -430px;
	/* padding-left: 10px; */
	margin-right: 310px;
}